<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Автокъща IBOR</title>

    <!-- Favicons -->
    <link href="~/assets/img/logo-1.png" rel="icon">
    <link href="~/assets/img/logo-1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top" style="position: unset;">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo-1.png">IBOR</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#about">За нас</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#services">Услуги</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#portfolio">Гараж</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#gearbox">Авточасти</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#faq">Въпроси</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")#contact">Контакти</a></li>
                </ul>               
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>IBOR</span></strong>. Всички права са запазени.
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://www.instagram.com/ibor_vraca?igsh=MWMxdGgyMXRvaTJ4Mg==" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
